<p>2. [Router] dyrektywa (element zastępczy) gdzie router ładuje komponenty?</p>

<p>
Nie jestem pewny, ale zadanie brzmi bardziej jak teoretyczne ;) - stąd odpowiedź w formie pisemnej.<br /><br />
Dyrektywa router w aplikacji angularowej służy do tak zwanego routingu, który umożliwia nawigowanie między komponentami w aplikacji bez przeładowywania całej aplikacji. Zawartość <i>Routingu</i> (widok kontrolera) ładowana i wyświetlana jest w miejscu, w którym znajduje się tag <i>router-outlet</i>
</p>
